



.material-symbols-outlined {
  
  color: aqua;
  margin-left: 15px;
  padding-top: 1px;
  padding-left: 0px;
  padding-bottom: 1px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined:hover{
  font-variation-settings: 
  'FILL' 100;
}


div.card:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 5px rgb(64, 64, 64, 0.38);
  }

  #pricing { 
    padding: 100px;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;

  }
  
  .pricing-column {
    padding: 3% 2%;
  }

.text {
    font-family: 'Voces', cursive;
    margin-bottom: 0%;
  }

  .section-heading {
    font-size: 45px;
  }

.section-info {
  font-size: 20px;
}

  body {
    background: linear-gradient(-45deg, #7bd8ff, #e43ce7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  